# Dependencies
node_modules/

# Environment

# Logs
logs/
*.log
npm-debug.log*

# Build / cache
.vercel/
dist/
.cache/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
config.bat
